*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: limegreen;
	font-family: 'Orbitron', sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	margin-block-start: 300px;
	font-size: 15vw;

	background-image: 
        radial-gradient(circle, rgba(255, 255, 255, 0.05), #333333b3 ),
        linear-gradient(lightsteelblue 60%, #333 6%);
	background-size: 100% 7px;
	background-clip: text;
	background-position: 0% 0%;
	-webkit-background-clip: text;

	color: transparent;
	text-align: center;
	cursor: pointer;

	transition: 600ms;
	animation: 
        verticalScroll 100s infinite, 
        skew 5s infinite step-end, 
        glitch 8s infinite step-end;
}
@keyframes verticalScroll {
	to {
		background-position: 0% 100%;
	}
}

@keyframes glitch {
	10% {
		clip-path: polygon(10% 20%, 80% 40%, 30% 50%);
	}
	30% {
		clip-path: polygon(50% 20%, 80% 60%, 90% 10%);
	}
	70% {
		clip-path: polygon(20% 40%, 70% 10%, 90% 30%);
	}
	99% {
		clip-path: polygon(10% 80%, 20% 80%, 10% 30%);
	}
    11%, 31%, 71%, 100% { clip-path: none; }
}

@keyframes skew {
    20%{ transform: skew(36deg, 7deg) scaleY(.55); }
    40%{ transform: skew(55deg, 8deg) scaleY(.25); }
    60%{ transform: skew(63deg, 0deg) scaleY(.25); }
    90%{ transform: skew(63deg, 9deg) scaleY(.25); }
    21%, 41%, 61%, 91% { transform: none; }
}

.highlight {
	color: lightsteelblue;
	scale: 1.3;
	animation: rotate 600ms ease-in-out;
}

@keyframes rotate {
	25% {
		rotate: -20deg;
	}
	75% {
		rotate: 20deg;
	}
}
